<!DOCTYPE <!DOCTYPE html>
<html>
<head>
<title>them</title>
</head>
<body>
<%= form_tag "/timthanhcong"%>
<%= label_tag "id"%><td><br>
<%= text_field_tag :id, params[:id]%><br>

<br>
<%= submit_tag "ok"%>
</body>
</html>